*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 100px;
}

.block-one{
    height: 1000px;
    width: 1000px;
    background-color: black;
    position: relative;
}

.block-a{
    background-color: blue;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}


.block-b{
    background-color: blue;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 24%;
    left: 50%;
    margin: -125px;
}


.block-c{
    background-color: blue;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 76%;
    left: 50%;
    margin: -125px;
}