*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 100px;
}

.block-one{
    height: 600px;
    width: 600px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-two{
    background-color: blue;
    height: 100px;
    width: 100px;
}